openapi: 3.2.0
info:
  title: Vessel Unifications API
  version: '1.0'
  description: 'Operations tagged Unifications across 5 of this provider''s published API definitions: vessel-chat-openapi.yml, vessel-crm-openapi.yml, vessel-dialer-openapi.yml, vessel-engagement-openapi.yml, vessel-marketing-automation-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.vessel.dev
security:
- VesselAPIToken: []
tags:
- name: Unifications
paths:
  /api/unifications/chat/users/list:
    parameters: []
    post:
      summary: List Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    users:
                    - id: e5f32d4fd2115220bd20a2ccf81210ec
                      name: Tom Haverford
                      isDeleted: false
                      createdTime: '2019-08-24T14:15:22Z'
                    nextPageCursor: '123123'
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
            examples:
              example-1:
                value:
                  cursor: '123123'
                  include:
                    $native: false
      operationId: get-all-users
      description: List Users
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/chat/channels/list:
    parameters: []
    post:
      summary: List Channels
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  channels:
                    type: array
                    items:
                      $ref: '#/components/schemas/Channel'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    channels:
                    - id: e5f32d4fd2115220bd20a2ccf81210ec
                      name: Paper updates
                      createdTime: '2019-08-24T14:15:22Z'
                    nextPageCursor: '123123'
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
            examples:
              example-1:
                value:
                  cursor: '123123'
                  include:
                    $native: false
      operationId: get-all-channels
      description: List Channel
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/chat/messages/create:
    parameters: []
    post:
      summary: Create Message
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  id:
                    type: string
              examples:
                example-1:
                  value:
                    id: e5f32d4fd2115220bd20a2ccf81210ec
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: object
                  properties:
                    text:
                      type: string
                    channelId:
                      type: string
                    $native:
                      ref: '#/components/schemas/NativeData'
            examples:
              example-1:
                value:
                  message:
                    text: New paper order
                    channelId: 34f5b4b0b6b650c981a174b02753c390
                    $native: {}
      operationId: post-message
      description: Create Message
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/chat/messages/update:
    parameters: []
    post:
      summary: Update Message
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  id:
                    type: string
              examples:
                example-1:
                  value:
                    id: e5f32d4fd2115220bd20a2ccf81210ec
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                message:
                  type: object
                  properties:
                    text:
                      type: string
                    channelId:
                      type: string
                    $native:
                      ref: '#/components/schemas/NativeData'
            examples:
              example-1:
                value:
                  id: e5f32d4fd2115220bd20a2ccf81210ec
                  message:
                    text: New paper order
                    channelId: 34f5b4b0b6b650c981a174b02753c390
                    $native: {}
      operationId: put-message
      description: Update Message
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/info/find:
    parameters: []
    post:
      summary: Get Connection Info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  url:
                    type: string
                  orgId:
                    type: string
                  userId:
                    type: string
                  currency:
                    type: string
                    description: The default currency for the organization in ISO format
              examples:
                example-1:
                  value:
                    url: https://xyz.my.salesforce.com
                    orgId: org_1234
                    userId: user_1234
                    currency: USD
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      operationId: get-info
      description: Get Connection Info
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/users/list:
    parameters: []
    post:
      summary: List Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User_2'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    users:
                    - id: '12'
                      firstName: Micheal
                      lastName: Scott
                      email: micheal@dundermifflin.com
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
                    nextPageCursor: string
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: object
                  description: Requires enabling Synced-cache
                  properties:
                    id:
                      $ref: '#/components/schemas/StringFilter'
                    firstName:
                      $ref: '#/components/schemas/StringFilter'
                    lastName:
                      $ref: '#/components/schemas/StringFilter'
                    email:
                      $ref: '#/components/schemas/StringFilter'
                    createdTime:
                      $ref: '#/components/schemas/DateFilter'
                    modifiedTime:
                      $ref: '#/components/schemas/DateFilter'
                include:
                  $ref: '#/components/schemas/IncludeFields'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                cursor:
                  type: string
            examples:
              example-1:
                value:
                  include:
                    $native: false
                  cursor: '123123'
      operationId: list-users
      description: List Users
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/users/batch-read:
    parameters: []
    post:
      summary: Batch Read Users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User_2'
              examples:
                example-1:
                  value:
                    users:
                    - id: '12'
                      firstName: Micheal
                      lastName: Scott
                      email: micheal@dundermifflin.com
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                ids:
                  type: array
                  items:
                    type: string
            examples:
              example-1:
                value:
                  include:
                    $native: false
                  ids:
                  - '123123'
                  - '456456'
                  - '567567'
      operationId: batch-read-users
      description: "Batch Read Users\n*CRM Caveats*:\n  Not supported for HubSpot."
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/users/find:
    parameters: []
    post:
      summary: Get User
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User_2'
              examples:
                example-1:
                  value:
                    user:
                      id: '12'
                      firstName: Micheal
                      lastName: Scott
                      email: micheal@dundermifflin.com
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
      operationId: get-user
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                id:
                  type: string
              required:
              - id
            examples:
              example-1:
                value:
                  id: '123123'
                  include:
                    $native: false
      description: Retrieve a single User by Id
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/users/details:
    post:
      summary: Get User Details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/Field'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                    - key: firstName
                      name: First name
                      type: string
                      options: null
                      isArray: false
                      custom: false
                      universal: true
                      required: false
                      creatable: true
                      updatable: true
                    nextPageCursor: string
      operationId: get-details-crm-user
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
            examples:
              example-1:
                value:
                  include:
                    $include: false
                  cursor: '123123'
      description: 'Get details about all users.

        Details include the type, possible values, and other meta data about the fields.'
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/contacts/list:
    parameters: []
    post:
      summary: List Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    contacts:
                    - id: '23'
                      email: tom@bluecross.com
                      firstName: Tom
                      lastName: Smith
                      jobTitle: Director of Operations
                      phone: '2101128833'
                      mobilePhone: '2106541111'
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
                      associations:
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: .56f653659ea9524b9e0fb0ba67e6f8a0
                    nextPageCursor: string
      operationId: list-contacts
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                filters:
                  type: object
                  properties:
                    id:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    email:
                      type: object
                      properties:
                        equals:
                          type: string
                        in:
                          type: array
                          items:
                            type: string
                    firstName:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    lastName:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    jobTitle:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    phone:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    mobilePhone:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    createdTime:
                      $ref: '#/components/schemas/DateFilter'
                      description: Requires enabling Synced-cache
                    modifiedTime:
                      $ref: '#/components/schemas/DateFilter'
                      description: Requires enabling Synced-cache
                  description: If you are using filters for HubSpot, associations cannot be provided unless sync-cache is enabled.
                  required: email
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: accounts, deals, leads.

                    ownerUserId is always included in the response in the response.

                    '
            examples:
              example-1:
                value:
                  cursor: '123123'
                  filters:
                    email:
                      equals: michael@dunder.mifflin
                  include:
                    $native: false
                  associations:
                  - accounts
                  - deals
      description: Retrieve all Contacts
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/contacts/batch-read:
    parameters: []
    post:
      summary: Batch Read Contacts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contact'
              examples:
                example-1:
                  value:
                    contacts:
                    - id: '23'
                      email: tom@bluecross.com
                      firstName: Tom
                      lastName: Smith
                      jobTitle: Director of Operations
                      phone: '2101128833'
                      mobilePhone: '2106541111'
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
                      associations:
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: .56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: batch-read-contacts
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                ids:
                  type: array
                  items:
                    type: string
            examples:
              example-1:
                value:
                  ids:
                  - '123123'
                  - '456456'
                  - '567567'
                  include:
                    $native: false
                  associations:
                  - accounts
                  - deals
      description: Fetch Contacts by Ids
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/contacts/find:
    post:
      summary: Get Contact
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  contact:
                    $ref: '#/components/schemas/Contact'
              examples:
                example-1:
                  value:
                    contact:
                      id: '23'
                      email: tom@bluecross.com
                      firstName: Tom
                      lastName: Smith
                      jobTitle: Director of Operations
                      phone: '2101128833'
                      mobilePhone: '2106541111'
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
                      associations:
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: get-contact
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                id:
                  type: string
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: accounts, deals, leads.

                    ownerUserId is always included in the response.

                    '
              required:
              - id
            examples:
              example-1:
                value:
                  id: '123123'
                  include:
                    $native: false
                  associations:
                  - accounts
                  - deals
      description: Retrieve a Contact by either Id
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/contacts/create:
    post:
      summary: Create Contact
      operationId: create-contact
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  id:
                    type: string
              examples:
                example-1:
                  value:
                    id: '0'
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contact:
                  $ref: '#/components/schemas/ContactCreate'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
              required:
              - contact
            examples:
              example-1:
                value:
                  contact:
                    email: tom@bluecross.com
                    firstName: Tom
                    lastName: Smith
                    jobTitle: Director of Operations
                    phone: '2101128833'
                    mobilePhone: '2106541111'
                    $native: {}
      description: Create a new contact.
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/contacts/update:
    post:
      summary: Update Contact
      operationId: update-contact
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: '0'
                properties:
                  id:
                    type: string
                required:
                - id
              examples:
                example-1:
                  value:
                    id: '0'
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                contact:
                  $ref: '#/components/schemas/ContactUpdate'
              required:
              - id
              - contact
            examples:
              example-1:
                value:
                  id: string
                  contact:
                    email: tom@bluecross.com
                    firstName: Tom
                    lastName: Smith
                    jobTitle: Director of Operations
                    phone: '2101128833'
                    mobilePhone: '2106541111'
                    $native: {}
          application/xml:
            schema:
              type: object
              properties: {}
        description: ''
      description: Update an existing Contact.
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/contacts/details:
    post:
      summary: Get Contact Details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/Field'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                    - key: firstName
                      name: First name
                      type: string
                      options: null
                      isArray: false
                      custom: false
                      universal: true
                      required: false
                      creatable: true
                      updatable: true
                    nextPageCursor: string
      operationId: get-details-crm-contact
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
            examples:
              example-1:
                value:
                  include:
                    $include: false
                  cursor: '123123'
      description: 'Get details about all contacts.

        Details include the type, possible values, and other meta data about the fields.'
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/deals/list:
    parameters: []
    post:
      summary: List Deals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  deals:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deal'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    deals:
                    - id: '84'
                      name: Blue Cross Deal
                      stage: demo
                      amount: 10000
                      closeDate: '2020-08-23T00:00:00Z'
                      probability: '0.4'
                      expectedRevenue: 4000
                      isWon: false
                      isClosed: false
                      currency: USD
                      modifiedTime: '2019-08-24T14:15:22Z'
                      createdTime: '2019-08-24T14:15:22Z'
                      associations:
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
                    nextPageCursor: string
      operationId: list-deals
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                filters:
                  type: object
                  description: Requires enabling Synced-cache
                  properties:
                    id:
                      $ref: '#/components/schemas/StringFilter'
                    closeDate:
                      $ref: '#/components/schemas/DateFilter'
                    name:
                      $ref: '#/components/schemas/StringFilter'
                    amount:
                      $ref: '#/components/schemas/NumberFilter'
                    probability:
                      $ref: '#/components/schemas/NumberFilter'
                    stage:
                      $ref: '#/components/schemas/StringFilter'
                    isWon:
                      $ref: '#/components/schemas/BooleanFilter'
                    isClosed:
                      $ref: '#/components/schemas/BooleanFilter'
                    expectedRevenue:
                      $ref: '#/components/schemas/NumberFilter'
                    createdTime:
                      $ref: '#/components/schemas/DateFilter'
                    modifiedTime:
                      $ref: '#/components/schemas/DateFilter'
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: accounts, contacts.

                    ownerUserId is always included in the response.

                    '
      description: Retrieve all Deals
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/deals/batch-read:
    parameters: []
    post:
      summary: Batch Read Deals
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  deals:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deal'
              examples:
                example-1:
                  value:
                    deals:
                    - id: '84'
                      name: Blue Cross Deal
                      stage: demo
                      amount: 10000
                      closeDate: '2020-08-23T00:00:00Z'
                      probability: '0.4'
                      expectedRevenue: 4000
                      isWon: false
                      isClosed: false
                      currency: USD
                      modifiedTime: '2019-08-24T14:15:22Z'
                      createdTime: '2019-08-24T14:15:22Z'
                      associations:
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: batch-read-deals
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                ids:
                  type: array
                  items:
                    type: string
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: accounts, contacts.

                    ownerUserId is always included in the response.

                    '
            examples:
              example-1:
                value:
                  ids:
                  - '123123'
                  - '456456'
                  - '567567'
                  include:
                    $native: false
                  associations:
                  - accounts
                  - contacts
      description: Fetch Deals by Ids
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/deals/find:
    parameters: []
    post:
      summary: Get Deal
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  deal:
                    $ref: '#/components/schemas/Deal'
              examples:
                example-1:
                  value:
                    deal:
                      id: '84'
                      name: Blue Cross Deal
                      stage: demo
                      amount: 10000
                      closeDate: '2020-08-23T00:00:00Z'
                      probability: '0.4'
                      expectedRevenue: 4000
                      isWon: false
                      isClosed: false
                      currency: USD
                      modifiedTime: '2019-08-24T14:15:22Z'
                      createdTime: '2019-08-24T14:15:22Z'
                      associations:
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: get-deal
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                id:
                  type: string
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: accounts, contacts.

                    ownerUserId is always included in the response.

                    '
              required:
              - id
            examples:
              example-1:
                value:
                  id: '123123'
                  include:
                    $native: false
                  associations:
                  - accounts
                  - contacts
      description: Retrieve a single Deal by Id
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/deals/create:
    post:
      summary: Create Deal
      operationId: create-deal
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: '0'
                properties:
                  id:
                    type: string
                required:
                - id
              examples:
                example-1:
                  value:
                    id: '0'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                deal:
                  $ref: '#/components/schemas/DealCreate'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
              required:
              - deal
            examples:
              example-1:
                value:
                  deal:
                    name: Blue Cross Deal
                    amount: 10000
                    closeDate: '2020-08-23T00:00:00Z'
                    probability: '0.4'
                    stage: closedwon
                    $native: {}
                    associations:
                      accountId: 0dcb45e051315a6ea63b0f16e73689d9
      description: Create a new Deal
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/deals/update:
    post:
      summary: Update Deal
      operationId: update-deal
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: '0'
                properties:
                  id:
                    type: string
                required:
                - id
              examples:
                example-1:
                  value:
                    id: '0'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                deal:
                  $ref: '#/components/schemas/DealUpdate'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
              required:
              - id
              - deal
            examples:
              example-1:
                value:
                  id: string
                  deal:
                    name: Blue Cross Deal
                    amount: 10000
                    closeDate: '2020-08-23T00:00:00Z'
                    probability: '0.4'
                    $native: {}
                    associations:
                      accountId: 0dcb45e051315a6ea63b0f16e73689d9
        description: ''
      description: Update an existing Deal
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/deals/details:
    post:
      summary: Get Deal Details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/Field'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                    - key: stage
                      name: Stage
                      type: enum
                      options:
                      - OPEN
                      - CLOSED_WON
                      - CLOSED_LOST
                      isArray: false
                      custom: false
                      universal: true
                      required: false
                      creatable: false
                      updatable: false
                    nextPageCursor: string
      operationId: get-details-crm-deal
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
            examples:
              example-1:
                value:
                  include:
                    $include: false
                  cursor: '123123'
      description: 'Get details about all deals.

        Details include the type, possible values, and other meta data about the fields.'
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/accounts/list:
    parameters: []
    post:
      summary: List Accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    accounts:
                    - id: '344'
                      name: Blue Cross
                      description: Blue Cross of Pennsylvania is responsible for providing services to the good people of Scranton
                      industry: TV and Media
                      annualRevenue: 10000000
                      numberOfEmployees: 100
                      website: www.bluecross.penn
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
                      phone: '8192223333'
                      address:
                        street: 100 Blue Dr
                        city: Scranton
                        state: Pennsylvania
                        postalCode: '281332'
                        country: USA
                      associations:
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
                    nextPageCursor: string
      operationId: list-accounts
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                filters:
                  type: object
                  description: Requires enabling Synced-cache
                  properties:
                    id:
                      $ref: '#/components/schemas/StringFilter'
                    name:
                      $ref: '#/components/schemas/StringFilter'
                    description:
                      $ref: '#/components/schemas/StringFilter'
                    industry:
                      $ref: '#/components/schemas/StringFilter'
                    website:
                      $ref: '#/components/schemas/StringFilter'
                    street:
                      $ref: '#/components/schemas/StringFilter'
                    city:
                      $ref: '#/components/schemas/StringFilter'
                    state:
                      $ref: '#/components/schemas/StringFilter'
                    postalCode:
                      $ref: '#/components/schemas/StringFilter'
                    country:
                      $ref: '#/components/schemas/StringFilter'
                    phone:
                      $ref: '#/components/schemas/StringFilter'
                    annualRevenue:
                      $ref: '#/components/schemas/NumberFilter'
                    numberOfEmployees:
                      $ref: '#/components/schemas/NumberFilter'
                    createdTime:
                      $ref: '#/components/schemas/DateFilter'
                    modifiedTime:
                      $ref: '#/components/schemas/DateFilter'
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: deals, contacts, leads.

                    ownerUserId is always included in the response.

                    '
      description: Retrieve all Accounts
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/accounts/batch-read:
    parameters: []
    post:
      summary: Batch Read Accounts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Account'
              examples:
                example-1:
                  value:
                    accounts:
                    - id: '344'
                      name: Blue Cross
                      description: Blue Cross of Pennsylvania is responsible for providing services to the good people of Scranton
                      industry: TV and Media
                      annualRevenue: 10000000
                      numberOfEmployees: 100
                      website: www.bluecross.penn
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
                      phone: '8192223333'
                      address:
                        street: 100 Blue Dr
                        city: Scranton
                        state: Pennsylvania
                        postalCode: '281332'
                        country: USA
                      associations:
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: batch-read-accounts
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: deals, contacts, leads.

                    ownerUserId is always included in the response.

                    '
            examples:
              example-1:
                value:
                  ids:
                  - '123123'
                  - '456456'
                  - '567567'
                  include:
                    $native: false
                  associations:
                  - deals
                  - contacts
      description: Fetch Accounts by Ids
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/accounts/find:
    parameters: []
    post:
      summary: Get Account
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  account:
                    $ref: '#/components/schemas/Account'
              examples:
                example-1:
                  value:
                    account:
                      id: '344'
                      name: Blue Cross
                      description: Blue Cross of Pennsylvania is responsible for providing services to the good people of Scranton
                      industry: TV and Media
                      annualRevenue: 10000000
                      numberOfEmployees: 100
                      website: www.bluecross.penn
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
                      phone: '8192223333'
                      address:
                        street: 100 Blue Dr
                        city: Scranton
                        state: Pennsylvania
                        postalCode: '281332'
                        country: USA
                      associations:
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: get-account
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                id:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: deals, contacts, leads.

                    ownerUserId is always included in the response.

                    '
              required:
              - id
            examples:
              example-1:
                value:
                  id: '123123'
                  include:
                    $native: false
                  associations:
                  - deals
                  - contacts
      description: Retrieve a single Account by Id
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/accounts/create:
    post:
      summary: Create Account
      operationId: create-account
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: '0'
                properties:
                  id:
                    type: string
              examples:
                example-1:
                  value:
                    id: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                account:
                  $ref: '#/components/schemas/AccountCreate'
              required:
              - account
            examples:
              example-1:
                value:
                  account:
                    name: Blue Cross
                    description: Blue Cross of Pennsylvania is responsible for providing services to the good people of Scranton
                    industry: TV and Media
                    annualRevenue: 10000000
                    numberOfEmployees: 100
                    website: www.bluecross.penn
                    phone: '8192223333'
                    address:
                      street: 100 Blue Dr
                      city: Scranton
                      state: Pennsylvania
                      postalCode: '281332'
                      country: USA
                    $native: {}
      description: Create a new Account
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/accounts/details:
    post:
      summary: Get Account Details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/Field'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                    - key: name
                      name: Name
                      type: string
                      options: null
                      isArray: false
                      custom: false
                      universal: true
                      required: false
                      creatable: true
                      updatable: true
                    nextPageCursor: string
      operationId: get-details-crm-account
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
            examples:
              example-1:
                value:
                  include:
                    $include: false
                  cursor: '123123'
      description: 'Get details about all accounts.

        Details include the type, possible values, and other meta data about the fields.'
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/leads/list:
    post:
      summary: List Leads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  leads:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lead'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    leads:
                    - id: '23'
                      firstName: Tom
                      lastName: Smith
                      jobTitle: Director of Operations
                      email: tom@bluecross.com
                      accountName: Blue Cross
                      phone: '1234445555'
                      mobilePhone: '2338889999'
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
                      associations:
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
                    nextPageCursor: string
      operationId: list-leads
      description: 'Retrieve all leads.

        *CRM Caveats*:

        - Pipedrive: Only `jobTitle` is returned when querying for all leads'
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                filters:
                  type: object
                  properties:
                    id:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    email:
                      type: object
                      properties:
                        equals:
                          type: string
                        in:
                          type: array
                          items:
                            type: string
                    lastName:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    firstName:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    jobTitle:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    account:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    phone:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    mobilePhone:
                      $ref: '#/components/schemas/StringFilter'
                      description: Requires enabling Synced-cache
                    createdTime:
                      $ref: '#/components/schemas/DateFilter'
                      description: Requires enabling Synced-cache
                    modifiedTime:
                      $ref: '#/components/schemas/DateFilter'
                      description: Requires enabling Synced-cache
                  description: If you are using filters for HubSpot, associations cannot be provided unless you enable Synced-cache
                  required: email
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: contacts, accounts.

                    ownerUserId is always included in the response.

                    '
            examples:
              example-1:
                value:
                  cursor: '123123'
                  include:
                    $native: false
                  filters:
                    email:
                      equals: michael@dunder.mifflin
                  associations:
                  - contacts
                  - accounts
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/leads/batch-read:
    post:
      summary: Batch Read Leads
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  leads:
                    type: array
                    items:
                      $ref: '#/components/schemas/Lead'
              examples:
                example-1:
                  value:
                    leads:
                    - id: '23'
                      firstName: Tom
                      lastName: Smith
                      jobTitle: Director of Operations
                      email: tom@bluecross.com
                      accountName: Blue Cross
                      phone: '1234445555'
                      mobilePhone: '2338889999'
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
                      associations:
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: batch-read-leads
      description: 'Fetch Leads by Ids

        *CRM Caveats*:

        - Pipedrive: Only `jobTitle` is returned when querying for all leads'
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                ids:
                  type: array
                  items:
                    type: string
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: contacts, accounts.

                    ownerUserId is always included in the response.

                    '
            examples:
              example-1:
                value:
                  ids:
                  - '123123'
                  - '456456'
                  - '567567'
                  include:
                    $native: false
                  associations:
                  - contacts
                  - accounts
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/leads/find:
    post:
      summary: Get Lead
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  lead:
                    $ref: '#/components/schemas/Lead'
              examples:
                example-1:
                  value:
                    lead:
                      id: '23'
                      firstName: Tom
                      lastName: Smith
                      jobTitle: Director of Operations
                      email: tom@bluecross.com
                      accountName: Blue Cross
                      phone: '1234445555'
                      mobilePhone: '2338889999'
                      createdTime: '2019-08-24T14:15:22Z'
                      modifiedTime: '2019-08-24T14:15:22Z'
                      associations:
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: get-lead
      description: Retrieve a single Lead by Id
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                id:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: contacts, accounts.

                    ownerUserId is always included in the response.

                    '
              required:
              - id
            examples:
              example-1:
                value:
                  id: '123123'
                  include:
                    $native: false
                  associations:
                  - contacts
                  - accounts
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/leads/create:
    post:
      summary: Create Lead
      operationId: create-lead
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: '0'
                properties:
                  id:
                    type: string
                required:
                - id
              examples:
                example-1:
                  value:
                    id: string
      description: Create a new Lead
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                lead:
                  $ref: '#/components/schemas/LeadCreate'
              required:
              - lead
            examples:
              example-1:
                value:
                  lead:
                    firstName: Tom
                    lastName: Smith
                    jobTitle: Director of Operations
                    email: tom@bluecross.com
                    accountName: Blue Cross
                    phone: '1234445555'
                    mobilePhone: '2338889999'
                    $native: {}
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/leads/update:
    post:
      summary: Update Lead
      operationId: update-lead
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: '0'
                properties:
                  id:
                    type: string
                required:
                - id
              examples:
                example-1:
                  value:
                    id: '0'
      description: Update an existing Lead by Id
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                lead:
                  $ref: '#/components/schemas/LeadUpdate'
              required:
              - id
              - lead
            examples:
              example-1:
                value:
                  id: '1231232'
                  lead:
                    firstName: Tom
                    lastName: Smith
                    jobTitle: Director of Operations
                    email: tom@bluecross.com
                    accountName: Blue Cross
                    phone: '1234445555'
                    mobilePhone: '2338889999'
                    $native: {}
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/custom-fields/create:
    post:
      summary: Create Custom Field
      description: Supported for HubSpot
      operationId: create-lead-custom-field
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ''
                type: object
                x-examples:
                  example-1:
                    key: hs_custom_field_123
                properties:
                  key:
                    type: string
                    description: The key used to access the custom field
              examples:
                example-1:
                  value:
                    key: hs_custom_field_123
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                objectType:
                  type: string
                  description: 'Allowed values: contacts, leads

                    '
                customField:
                  $ref: '#/components/schemas/CustomFieldCreate'
              required:
              - objectType
              - customField
            examples:
              example-1:
                value:
                  objectType: leads
                  customField:
                    name: new field
                    type: singleselect
                    $native: {}
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/leads/details:
    post:
      summary: Get Lead Details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/Field'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                    - key: firstName
                      name: First name
                      type: string
                      options: null
                      isArray: false
                      custom: false
                      universal: true
                      required: false
                      creatable: true
                      updatable: true
                    nextPageCursor: string
      operationId: get-details-crm-lead
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
            examples:
              example-1:
                value:
                  include:
                    $include: false
                  cursor: '123123'
      description: 'Get details about all leads.

        Details include the type, possible values, and other meta data about the fields.'
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/notes/list:
    post:
      summary: List Notes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    notes:
                    - id: '34'
                      contentText: This note has some interesting content in it!
                      modifiedTime: '2019-08-24T14:15:22Z'
                      createdTime: '2019-08-24T14:15:22Z'
                      associations:
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
                    nextPageCursor: string
      operationId: list-notes
      description: Retrieve all Notes
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                filters:
                  type: object
                  description: Requires enabling Synced-cache
                  properties:
                    id:
                      $ref: '#/components/schemas/StringFilter'
                    content:
                      $ref: '#/components/schemas/StringFilter'
                    contentText:
                      $ref: '#/components/schemas/StringFilter'
                    contentHtml:
                      $ref: '#/components/schemas/StringFilter'
                    createdTime:
                      $ref: '#/components/schemas/DateFilter'
                    modifiedTime:
                      $ref: '#/components/schemas/DateFilter'
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: deals, contacts, accounts, leads.

                    ownerUserId is always included in the response.

                    '
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/notes/batch-read:
    post:
      summary: Batch Read Notes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  notes:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
              examples:
                example-1:
                  value:
                    notes:
                    - id: '34'
                      contentText: This note has some interesting content in it!
                      modifiedTime: '2019-08-24T14:15:22Z'
                      createdTime: '2019-08-24T14:15:22Z'
                      associations:
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: batch-read-notes
      description: Fetch Notes by Ids
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                ids:
                  type: array
                  items:
                    type: string
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: deals, contacts, accounts, leads.

                    ownerUserId is always included in the response.

                    '
            examples:
              example-1:
                value:
                  ids:
                  - '123123'
                  - '456456'
                  - '567567'
                  include:
                    $native: false
                  associations:
                  - deals
                  - contacts
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/notes/find:
    post:
      summary: Get Note
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  note:
                    $ref: '#/components/schemas/Note'
              examples:
                example-1:
                  value:
                    note:
                      id: '34'
                      contentText: This note has some interesting content in it!
                      modifiedTime: '2019-08-24T14:15:22Z'
                      createdTime: '2019-08-24T14:15:22Z'
                      associations:
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: get-note
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                id:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: deals, contacts, accounts, leads.

                    ownerUserId is always included in the response.

                    '
              required:
              - id
            examples:
              example-1:
                value:
                  id: '123123'
                  include:
                    $native: false
                  associations:
                  - deals
                  - contacts
      description: Retrieve a single Note by Id
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/notes/create:
    post:
      summary: Create Note
      operationId: create-note
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: '0'
                properties:
                  id:
                    type: string
                required:
                - id
              examples:
                example-1:
                  value:
                    id: '0'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                note:
                  $ref: '#/components/schemas/NoteCreate'
              required:
              - note
            examples:
              example-1:
                value:
                  note:
                    contentText: This note has some interesting content in it!
                    $native: {}
                    associations:
                      ownerUserId: 79d154aa0c7a571295a157369d448e65
                      dealId: 497fb529e6805351b5dc8057c74a4a52
                      leadId: d08f345ace24509e911a0ea8e3d2203c
                      accountId: 0dcb45e051315a6ea63b0f16e73689d9
                      contactId: e5f32d4fd2115220bd20a2ccf81210ec
        description: ''
      description: 'Create a new Note.

        *CRM Caveats*:

        - Salesforce: You may only associate a Note with one entity.'
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/notes/update:
    post:
      summary: Update Note
      operationId: update-note
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                description: ''
                type: object
                x-examples:
                  example-1:
                    id: '0'
                properties:
                  id:
                    type: string
                required:
                - id
              examples:
                example-1:
                  value:
                    id: '0'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                note:
                  $ref: '#/components/schemas/NoteUpdate'
              required:
              - id
              - note
            examples:
              example-1:
                value:
                  id: string
                  note:
                    contentText: This note has some interesting content in it!
                    $native: {}
                    associations:
                      ownerUserId: 79d154aa0c7a571295a157369d448e65
      description: Update an existing Note by Id
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/notes/details:
    post:
      summary: Get Note Details
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  fields:
                    type: array
                    items:
                      $ref: '#/components/schemas/Field'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    fields:
                    - key: contentText
                      name: Content Text
                      type: string
                      options: null
                      isArray: false
                      custom: false
                      universal: true
                      required: false
                      creatable: true
                      updatable: true
                    nextPageCursor: string
      operationId: get-details-crm-note
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
            examples:
              example-1:
                value:
                  include:
                    $include: false
                  cursor: '123123'
      description: 'Get details about all notes.

        Details include the type, possible values, and other meta data about the fields.'
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/tasks/list:
    parameters: []
    post:
      summary: List Tasks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
                  nextPageCursor:
                    type: string
              examples:
                example-1:
                  value:
                    tasks:
                    - id: '122'
                      body: This task needs to be done very soon!
                      subject: High Priority Task
                      isDone: false
                      dueDate: '2019-09-24T14:15:22Z'
                      status: Not Done
                      priority: High
                      modifiedTime: '2019-08-24T14:15:22Z'
                      createdTime: '2019-08-24T14:15:22Z'
                      associations:
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
                    nextPageCursor: string
      operationId: list-tasks
      description: Retrieve all Tasks
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                cursor:
                  type: string
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                filters:
                  type: object
                  properties:
                    id:
                      $ref: '#/components/schemas/StringFilter'
                    body:
                      $ref: '#/components/schemas/StringFilter'
                    subject:
                      $ref: '#/components/schemas/StringFilter'
                    dueDate:
                      $ref: '#/components/schemas/DateFilter'
                    priority:
                      $ref: '#/components/schemas/StringFilter'
                    status:
                      $ref: '#/components/schemas/StringFilter'
                    isDone:
                      $ref: '#/components/schemas/BooleanFilter'
                    ownerUserId:
                      $ref: '#/components/schemas/StringFilter'
                    createdTime:
                      $ref: '#/components/schemas/DateFilter'
                    modifiedTime:
                      $ref: '#/components/schemas/DateFilter'
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: deals, contacts, accounts, leads.

                    ownerUserId is always included in the response.

                    '
            examples:
              example-1:
                value:
                  cursor: '123123'
                  include:
                    $native: false
                  associations:
                  - deals
                  - contacts
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/tasks/batch-read:
    parameters: []
    post:
      summary: Batch Read Tasks
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
              examples:
                example-1:
                  value:
                    tasks:
                    - id: '122'
                      body: This task needs to be done very soon!
                      subject: High Priority Task
                      isDone: false
                      dueDate: '2019-09-24T14:15:22Z'
                      status: Not Done
                      priority: High
                      modifiedTime: '2019-08-24T14:15:22Z'
                      createdTime: '2019-08-24T14:15:22Z'
                      associations:
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: batch-read-tasks
      description: Fetch Tasks by Ids
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                include:
                  $ref: '#/components/schemas/IncludeFields'
                synced:
                  $ref: '#/components/schemas/SyncedCache'
                ids:
                  type: array
                  items:
                    type: string
                associations:
                  type: array
                  items:
                    type: string
                  description: 'Array of associations to include in the response.

                    Allowed values: deals, contacts, accounts, leads.

                    ownerUserId is always included in the response.

                    '
            examples:
              example-1:
                value:
                  ids:
                  - '123123'
                  - '456456'
                  - '567567'
                  include:
                    $native: false
                  associations:
                  - deals
                  - contacts
      tags:
      - Unifications
    servers:
    - url: https://api.vessel.dev
  /api/unifications/crm/tasks/find:
    post:
      summary: Get Task
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  task:
                    $ref: '#/components/schemas/Task'
              examples:
                example-1:
                  value:
                    task:
                      id: '122'
                      body: This task needs to be done very soon!
                      subject: High Priority Task
                      isDone: false
                      dueDate: '2019-09-24T14:15:22Z'
                      status: Not Done
                      priority: High
                      modifiedTime: '2019-08-24T14:15:22Z'
                      createdTime: '2019-08-24T14:15:22Z'
                      associations:
                        dealIds:
                        - 497fb529e6805351b5dc8057c74a4a52
                        contactIds:
                        - e5f32d4fd2115220bd20a2ccf81210ec
                        accountIds:
                        - 0dcb45e051315a6ea63b0f16e73689d9
                        leadIds:
                        - d08f345ace24509e911a0ea8e3d2203c
                        ownerUserId: 56f653659ea9524b9e0fb0ba67e6f8a0
      operationId: get-task
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
[...]
