openapi: 3.1.0
info:
  title: Vessel CRM Accounts Engagement Unifications API
  description: The Vessel CRM API provides a unified interface for CRM operations across Salesforce, HubSpot, Zoho, Pipedrive, Close, Freshsales, Microsoft Dynamics, Affinity, monday.com, and Freshdesk. Operations are normalized across all CRM systems with consistent object models for contacts, deals, accounts, leads, notes, tasks, emails, calls, events, and users. Authentication uses vessel-api-token header and accessToken query parameter.
  version: '1.0'
  contact:
    name: Vessel Support
    email: support@vessel.dev
    url: https://www.vessel.dev/
  license:
    name: Proprietary
    url: https://www.vessel.dev/
servers:
- url: https://api.vessel.land
  description: Vessel CRM API
security:
- apiToken: []
tags:
- name: Engagement Unifications
paths:
  /unifications/engagement/users/list:
    post:
      operationId: listEngagementUsers
      summary: List Engagement Users
      description: Returns all users from the connected sales engagement tool.
      tags:
      - Engagement Unifications
      security:
      - apiToken: []
      - accessToken: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                cursor:
                  type: string
                  description: Pagination cursor
      responses:
        '200':
          description: List of engagement users
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
components:
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: vessel-api-token
      description: Your Vessel API token for server-side authentication
