openapi: 3.2.0
info:
  title: Vessel Connections API
  version: '1.0'
  description: 'Operations tagged connections across 3 of this provider''s published API definitions: vessel-crm-v1-openapi.yml, vessel-engagement-v1-openapi.yml, vessel-platform-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.vessel.dev
- url: https://api.vessel.land
security:
- VesselAPIToken: []
tags:
- name: connections
paths:
  /connection/connection:
    parameters: []
    get:
      summary: Get Connection
      tags:
      - connections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  connection:
                    $ref: '#/components/schemas/Connection'
      operationId: get-one-connection
      description: Get info about a connection for a given accessToken.
      parameters:
      - schema:
          type: string
        in: query
        name: connectionId
        description: The ID of the connection for the customer's CRM account. This was generated when they connected their account.
        required: true
    delete:
      summary: Delete Connection
      tags:
      - connections
      operationId: delete-connection
      responses:
        '200':
          description: Remove a connection for a given `accessToken`. Removing a connection disconnects the user's CRM so they'll need to re-authenticate should they want to re-connect their CRM.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                connectionId:
                  type: string
              required:
              - connectionId
      security:
      - VesselAPIToken: []
      description: Remove a connection for a given `connectionId`. Removing a connection disconnects the user's CRM so they'll need to re-authenticate should they want to re-connect their CRM.
    servers:
    - url: https://api.vessel.dev
  /connection/connections:
    get:
      summary: Get All Connections
      tags:
      - connections
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      $ref: '#/components/schemas/Connection'
      operationId: get-all-crm-connections
      description: List all connections
    servers:
    - url: https://api.vessel.dev
  /api/connections/list:
    parameters: []
    post:
      summary: List Connections
      operationId: get-all-connections
      responses:
        '200':
          description: List Connections
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  connections:
                    type: array
                    items:
                      $ref: '#/components/schemas/Connection_2'
              examples:
                example-1:
                  value:
                    connections:
                    - id: v_connection_development_apollo_eb97282c54ff6c5d9bdf4c716a01d6950c02d361183088769acbe302f94caf52
                      projectId: v_project_123123123
                      syncState: initial-sync-in-progress
                      integrationId: apollo
                      createdTime: 2022-11-09 23:11:28.617000+00:00
      description: List all connections associated with this api token.
      security:
      - VesselAPIToken: []
      tags:
      - connections
    servers:
    - url: https://api.vessel.dev
  /api/connections/find:
    parameters: []
    post:
      summary: Find Connection
      operationId: get-one-connection
      responses:
        '200':
          description: Find a Connection
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  connection:
                    $ref: '#/components/schemas/Connection_2'
              examples:
                example-1:
                  value:
                    connection:
                      id: v_connection_development_apollo_eb97282c54ff6c5d9bdf4c716a01d6950c02d361183088769acbe302f94caf52
                      integrationId: apollo
                      projectId: v_project_123123123
                      syncState: initial-sync-in-progress
                      createdTime: 2022-11-09 23:11:28.617000+00:00
      description: Find a connection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
              required:
              - id
            examples:
              example-1:
                value:
                  id: v_connection_development_apollo_eb97282c54ff6c5d9bdf4c716a01d6950c02d361183088769acbe302f94caf52
      security:
      - VesselAPIToken: []
      tags:
      - connections
    servers:
    - url: https://api.vessel.dev
  /api/connections/delete:
    parameters: []
    post:
      summary: Delete Connection
      operationId: delete-one-connection
      responses:
        '200':
          description: Delete a Connection
          content:
            application/json:
              schema:
                title: responseBody
                type: object
                properties:
                  success: true
              examples: {}
      description: Delete a connection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
              required:
              - id
            examples:
              example-1:
                value:
                  id: v_connection_development_apollo_eb97282c54ff6c5d9bdf4c716a01d6950c02d361183088769acbe302f94caf52
      security:
      - VesselAPIToken: []
      tags:
      - connections
    servers:
    - url: https://api.vessel.dev
components:
  schemas:
    Connection:
      title: Connection
      type: object
      properties:
        integrationId:
          type: string
          enum:
          - salesforce
          - hubspot
          - pipedrive
          - zoho
        connectionId:
          type: string
        createdTime:
          type: string
        status:
          type: string
          enum:
          - NEW_CONNECTION
          - INITIAL_SYNCED
          - READY
        nativeOrgURL:
          type: string
        lastActivityDate:
          type: string
      examples:
      - connectionId: sample/eb97282c54ff6c5d9bdf4c716a01d6950c02d361183088769acbe302f94caf52
        integrationId: hubspot
        createdTime: 2022-11-09 23:11:28.617000+00:00
        status: READY,
        nativeOrgURL: https://app.hubspot.com
        lastActivityDate: 2022-11-10 00:00:00+00:00
    Connection_2:
      title: Connection
      type: object
      properties:
        id:
          type: string
        projectId:
          type: string
        integrationId:
          type: string
        syncState:
          type: string
          enum:
          - initial-sync-in-progress
          - initial-sync-complete
        createdTime:
          type: string
  securitySchemes:
    VesselAPIToken:
      name: vessel-api-token
      type: apiKey
      in: header
x-refined-from:
- vessel-crm-v1-openapi.yml
- vessel-engagement-v1-openapi.yml
- vessel-platform-openapi.yml
