openapi: 3.1.0
info:
  title: Vessel CRM Accounts Webhooks API
  description: The Vessel CRM API provides a unified interface for CRM operations across Salesforce, HubSpot, Zoho, Pipedrive, Close, Freshsales, Microsoft Dynamics, Affinity, monday.com, and Freshdesk. Operations are normalized across all CRM systems with consistent object models for contacts, deals, accounts, leads, notes, tasks, emails, calls, events, and users. Authentication uses vessel-api-token header and accessToken query parameter.
  version: '1.0'
  contact:
    name: Vessel Support
    email: support@vessel.dev
    url: https://www.vessel.dev/
  license:
    name: Proprietary
    url: https://www.vessel.dev/
servers:
- url: https://api.vessel.land
  description: Vessel CRM API
security:
- apiToken: []
tags:
- name: Webhooks
paths:
  /webhooks:
    post:
      operationId: createWebhook
      summary: Create a Webhook
      description: Creates a webhook subscription to receive real-time notifications when events occur in connected integrations.
      tags:
      - Webhooks
      security:
      - apiToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - url
              - event
              properties:
                url:
                  type: string
                  format: uri
                  description: Destination URL for webhook events
                event:
                  type: string
                  description: Event type to subscribe to
      responses:
        '200':
          description: Webhook created
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/Webhook'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/list:
    post:
      operationId: listWebhooks
      summary: List All Webhooks
      description: Returns all configured webhook subscriptions for your account.
      tags:
      - Webhooks
      security:
      - apiToken: []
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      webhooks:
                        type: array
                        items:
                          $ref: '#/components/schemas/Webhook'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /webhooks/delete:
    post:
      operationId: deleteWebhook
      summary: Delete a Webhook
      description: Removes a webhook subscription.
      tags:
      - Webhooks
      security:
      - apiToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - id
              properties:
                id:
                  type: string
                  description: Webhook ID to delete
      responses:
        '200':
          description: Webhook deleted
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: API error response
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Human-readable error message
            code:
              type: string
              description: Error code identifier
    Webhook:
      type: object
      description: A webhook subscription for real-time integration events
      properties:
        id:
          type: string
          description: Unique webhook identifier
        url:
          type: string
          format: uri
          description: Destination URL for webhook events
        event:
          type: string
          description: Subscribed event type
        createdAt:
          type: string
          format: date-time
          description: Webhook creation timestamp
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: vessel-api-token
      description: Your Vessel API token for server-side authentication
