openapi: 3.1.0
info:
  title: Vessel CRM Accounts Passthrough API
  description: The Vessel CRM API provides a unified interface for CRM operations across Salesforce, HubSpot, Zoho, Pipedrive, Close, Freshsales, Microsoft Dynamics, Affinity, monday.com, and Freshdesk. Operations are normalized across all CRM systems with consistent object models for contacts, deals, accounts, leads, notes, tasks, emails, calls, events, and users. Authentication uses vessel-api-token header and accessToken query parameter.
  version: '1.0'
  contact:
    name: Vessel Support
    email: support@vessel.dev
    url: https://www.vessel.dev/
  license:
    name: Proprietary
    url: https://www.vessel.dev/
servers:
- url: https://api.vessel.land
  description: Vessel CRM API
security:
- apiToken: []
tags:
- name: Passthrough
paths:
  /passthrough:
    post:
      operationId: passthrough
      summary: Passthrough API Call
      description: Forwards an authenticated API call directly to the downstream integration provider. The access token credentials are automatically attached to the request. Useful for calling endpoints not yet covered by Vessel actions.
      tags:
      - Passthrough
      security:
      - apiToken: []
      - accessToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - method
              - path
              properties:
                method:
                  type: string
                  description: HTTP method for the downstream request
                  enum:
                  - GET
                  - POST
                  - PUT
                  - PATCH
                  - DELETE
                path:
                  type: string
                  description: Path on the downstream provider's API
                body:
                  type: object
                  description: Request body to pass to the downstream provider
                headers:
                  type: object
                  description: Additional headers to include
      responses:
        '200':
          description: Passthrough response from downstream provider
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    description: Raw response from the downstream provider
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: API error response
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              description: Human-readable error message
            code:
              type: string
              description: Error code identifier
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: vessel-api-token
      description: Your Vessel API token for server-side authentication
