openapi: 3.2.0
info:
  title: Vessel Actions API
  version: '1.0'
  description: 'Operations tagged Actions across 12 of this provider''s published API definitions: vessel-activecampaign-actions-openapi.yml, vessel-aircall-actions-openapi.yml, vessel-apollo-actions-openapi.yml, vessel-dialpad-actions-openapi.yml, vessel-mailchimp-actions-openapi.yml, vessel-monday-actions-openapi.yml, vessel-outreach-actions-openapi.yml, vessel-ringcentral-actions-openapi.yml, vessel-salesforce-actions-openapi.yml, vessel-salesloft-actions-openapi.yml, vessel-slack-actions-openapi.yml, vessel-teams-actions-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.vessel.dev
security:
- VesselAPIToken: []
tags:
- name: Actions
paths:
  /api/actions/activecampaign/contacts/create:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      udate:
                        type: string
                        format: date-time
                      cdate:
                        type: string
                        format: date-time
                    required:
                    - id
                    - email
                    - phone
                    - firstName
                    - lastName
                    - udate
                    - cdate
              examples:
                example-1:
                  value:
                    contact:
                      id: magna nostrud aute ex
                      email: dolor Duis voluptate
                      phone: quis magna minim veniam
                      firstName: Duis dolore irure
                      lastName: ea sed
                      udate: '1993-06-09T04:48:55.0Z'
                      cdate: '1968-04-09T23:04:27.0Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                phone:
                  type: string
            examples:
              example-1:
                value:
                  email: commodo nulla fugiat
                  firstName: officia commodo do ipsum
                  lastName: sint consequat tempor enim incididunt
                  phone: quis magna non laboris culpa
      operationId: create-contact
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/activecampaign/contacts/find:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      udate:
                        type: string
                        format: date-time
                      cdate:
                        type: string
                        format: date-time
                    required:
                    - id
                    - email
                    - phone
                    - firstName
                    - lastName
                    - udate
                    - cdate
              examples:
                example-1:
                  value:
                    contact:
                      id: dolore
                      email: minim Ut eu qui
                      phone: cupidatat
                      firstName: occaecat laborum
                      lastName: commodo pariatur culpa Ut ea
                      udate: '1974-11-24T02:14:27.0Z'
                      cdate: '1948-12-31T17:23:58.0Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
            examples:
              example-1:
                value:
                  id: ipsum sit
      operationId: find-contact
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/activecampaign/contacts/list:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        email:
                          type: string
                        phone:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
                        udate:
                          type: string
                          format: date-time
                        cdate:
                          type: string
                          format: date-time
                      required:
                      - id
                      - email
                      - phone
                      - firstName
                      - lastName
                      - udate
                      - cdate
              examples:
                example-1:
                  value:
                    contacts:
                    - id: laborum Lorem
                      email: ut incididunt Duis in
                      phone: amet consectetur sit
                      firstName: ea tempor consectetur veniam
                      lastName: Lorem
                      udate: '1997-04-13T17:24:29.0Z'
                      cdate: '2012-11-08T11:04:48.0Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value: {}
      operationId: list-contacts
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/activecampaign/contacts/update:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      id:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                      firstName:
                        type: string
                      lastName:
                        type: string
                      udate:
                        type: string
                        format: date-time
                      cdate:
                        type: string
                        format: date-time
                    required:
                    - id
                    - email
                    - phone
                    - firstName
                    - lastName
                    - udate
                    - cdate
              examples:
                example-1:
                  value:
                    contact:
                      id: id et qui eiusmod do
                      email: ipsum reprehenderit
                      phone: in
                      firstName: deserunt ut sed pariatur
                      lastName: sunt
                      udate: '1994-10-25T07:04:39.0Z'
                      cdate: '1952-03-02T20:22:37.0Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                email:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                phone:
                  type: string
            examples:
              example-1:
                value:
                  id: in minim
                  email: dolore sunt laborum adipisicing
                  firstName: dolor cupidatat
                  lastName: dolore nisi laboris
                  phone: pariatur in
      operationId: update-contact
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/activecampaign/lists/find:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      cdate:
                        type: string
                        format: date-time
                    required:
                    - id
                    - name
                    - cdate
              examples:
                example-1:
                  value:
                    list:
                      id: labore cillum irure aliqua
                      name: sed ut sit
                      cdate: '1993-09-24T02:40:23.0Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
            examples:
              example-1:
                value:
                  id: aliquip aute in dolor reprehenderit
      operationId: find-list
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/activecampaign/lists/list:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  lists:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        cdate:
                          type: string
                          format: date-time
                      required:
                      - id
                      - name
                      - cdate
              examples:
                example-1:
                  value:
                    lists:
                    - id: non ad
                      name: sed sint non laboris
                      cdate: '1976-07-20T17:09:24.0Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                limit:
                  type: number
            examples:
              example-1:
                value:
                  limit: 71740595.36603016
      operationId: list-lists
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/activecampaign/users/list:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        username:
                          type: string
                        firstName:
                          type: string
                        lastName:
                          type: string
                        email:
                          type: string
                        phone:
                          type: string
                      required:
                      - id
                      - username
                      - firstName
                      - lastName
                      - email
                      - phone
              examples:
                example-1:
                  value:
                    users:
                    - id: non
                      username: non
                      firstName: commodo laborum
                      lastName: veniam
                      email: aute
                      phone: Duis mollit eu cupidatat
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value: {}
      operationId: list-users
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/aircall/users/list:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        directLink:
                          type:
                          - string
                          - 'null'
                        name:
                          type: string
                        email:
                          type:
                          - string
                          - 'null'
                        available:
                          type:
                          - boolean
                          - 'null'
                        availabilityStatus:
                          type:
                          - string
                          - 'null'
                        timeZone:
                          type:
                          - string
                          - 'null'
                        language:
                          type:
                          - string
                          - 'null'
                        wrapUpTime:
                          type:
                          - number
                          - 'null'
                        createdAt:
                          type: string
                          format: date-time
                      required:
                      - id
                      - direct_link
                      - name
                      - email
                      - available
                      - availability_status
                      - time_zone
                      - language
                      - wrap_up_time
                      - created_at
                  meta:
                    type: object
                    properties:
                      count:
                        type:
                        - number
                        - 'null'
                      total:
                        type:
                        - number
                        - 'null'
                      currentPage:
                        type:
                        - number
                        - 'null'
                      perPage:
                        type:
                        - number
                        - 'null'
                      nextPageLink:
                        anyOf:
                        - type: string
                        - type: 'null'
                      previousPageLink:
                        anyOf:
                        - type: string
                        - type: 'null'
                    required:
                    - count
                    - total
                    - current_page
                    - per_page
                    - next_page_link
                    - previous_page_link
              examples:
                example-1:
                  value:
                    users:
                    - id: -89270352.46227905
                      name: Ut
                      email: consequat fugiat dolor ut
                      available: null
                      language: null
                      wrapUpTime: 77299649.46462867
                      timeZone: esse ea et nostrud elit
                      createdAt: '2018-10-13T10:10:16.0Z'
                      directLink: null
                      availabilityStatus: esse ex
                    meta:
                      count: -84061575.0836465
                      total: null
                      previousPageLink: in veniam mollit fugiat
                      currentPage: -57299537.317396656
                      perPage: null
                      nextPageLink: ut
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                perPage:
                  type: number
                nextPageLink:
                  type: string
            examples:
              example-1:
                value:
                  from: dolore fugiat
                  perPage: -62917728.630286396
                  nextPageLink: aliqua
      operationId: list-users
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/aircall/users/find:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: number
                      directLink:
                        type:
                        - string
                        - 'null'
                      name:
                        type: string
                      email:
                        type:
                        - string
                        - 'null'
                      available:
                        type:
                        - boolean
                        - 'null'
                      availabilityStatus:
                        type:
                        - string
                        - 'null'
                      timeZone:
                        type:
                        - string
                        - 'null'
                      language:
                        type:
                        - string
                        - 'null'
                      wrapUpTime:
                        type:
                        - number
                        - 'null'
                      createdAt:
                        type: string
                        format: date-time
                    required:
                    - id
                    - direct_link
                    - name
                    - email
                    - available
                    - availability_status
                    - time_zone
                    - language
                    - wrap_up_time
                    - created_at
              examples:
                example-1:
                  value:
                    user:
                      id: -55279769.4802079
                      name: ipsum nulla sit qui
                      email: null
                      available: null
                      language: null
                      availabilityStatus: Excepteur eu minim irure cillum
                      directLink: nostrud do exercitation in in
                      wrapUpTime: null
                      timeZone: ullamco ut ex
                      createdAt: '1961-04-23T09:09:34.0Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type:
                  - number
                  - string
            examples:
              example-1:
                value:
                  id: dolore
      operationId: find-user
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/aircall/users/start-call:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type:
                  - number
                  - string
                numberId:
                  type:
                  - number
                  - string
                to:
                  type: string
            examples:
              example-1:
                value:
                  id: consequat
                  numberId: enim
                  to: labore id ut eu officia
      operationId: start-user-call
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/aircall/contacts/create:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      id:
                        type: number
                      directLink:
                        type:
                        - string
                        - 'null'
                      firstName:
                        type:
                        - string
                        - 'null'
                      lastName:
                        type:
                        - string
                        - 'null'
                      companyName:
                        type:
                        - string
                        - 'null'
                      information:
                        type:
                        - string
                        - 'null'
                      isShared:
                        type:
                        - boolean
                        - 'null'
                      createdAt:
                        type: number
                      updatedAt:
                        type: number
                      emails:
                        anyOf:
                        - type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              label:
                                type:
                                - string
                                - 'null'
                              value:
                                type: string
                            required:
                            - id
                            - label
                            - value
                        - type: 'null'
                      phoneNumbers:
                        anyOf:
                        - type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              label:
                                type:
                                - string
                                - 'null'
                              value:
                                type: string
                            required:
                            - id
                            - label
                            - value
                        - type: 'null'
                    required:
                    - id
                    - direct_link
                    - first_name
                    - last_name
                    - company_name
                    - information
                    - is_shared
                    - created_at
                    - updated_at
                    - emails
                    - phone_numbers
              examples:
                example-1:
                  value:
                    contact:
                      id: -4310924.4277355075
                      information: consectetur
                      emails:
                      - id: -64046885.245729744
                        label: null
                        value: commodo
                        aute66: 49947290
                        velit_40: false
                      phoneNumbers: null
                      directLink: null
                      isShared: null
                      updatedAt: 2237749.0678489953
                      createdAt: 51588572.78623724
                      firstName: irure aliqua consequat
                      lastName: null
                      companyName: null
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                lastName:
                  type: string
                companyName:
                  type: string
                information:
                  type: string
                emails:
                  type: array
                  items:
                    type: object
                    properties:
                      label:
                        type: string
                      value:
                        type: string
                    required:
                    - value
                phoneNumbers:
                  type: array
                  items:
                    type: object
                    properties:
                      label:
                        type: string
                      value:
                        type: string
                    required:
                    - value
            examples:
              example-1:
                value:
                  firstName: adipisicing sed dolor Lorem officia
                  lastName: Lorem
                  companyName: laboris nulla ex mollit
                  information: tempor
                  emails:
                  - value: occaecat eu sint
                    label: non occaecat incididunt
                  phoneNumbers:
                  - value: ex exercitation
                    label: in
      operationId: create-contact
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/aircall/contacts/find:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      id:
                        type: number
                      directLink:
                        type:
                        - string
                        - 'null'
                      firstName:
                        type:
                        - string
                        - 'null'
                      lastName:
                        type:
                        - string
                        - 'null'
                      companyName:
                        type:
                        - string
                        - 'null'
                      information:
                        type:
                        - string
                        - 'null'
                      isShared:
                        type:
                        - boolean
                        - 'null'
                      createdAt:
                        type: number
                      updatedAt:
                        type: number
                      emails:
                        anyOf:
                        - type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              label:
                                type:
                                - string
                                - 'null'
                              value:
                                type: string
                            required:
                            - id
                            - label
                            - value
                        - type: 'null'
                      phoneNumbers:
                        anyOf:
                        - type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              label:
                                type:
                                - string
                                - 'null'
                              value:
                                type: string
                            required:
                            - id
                            - label
                            - value
                        - type: 'null'
                    required:
                    - id
                    - direct_link
                    - first_name
                    - last_name
                    - company_name
                    - information
                    - is_shared
                    - created_at
                    - updated_at
                    - emails
                    - phone_numbers
              examples:
                example-1:
                  value:
                    contact:
                      id: 99345447.36392054
                      information: anim magna
                      emails: null
                      directLink: null
                      firstName: null
                      lastName: esse dolor elit
                      phoneNumbers: null
                      updatedAt: 68223509.77328452
                      createdAt: 80664193.9649893
                      isShared: false
                      companyName: Lorem et
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type:
                  - number
                  - string
            examples:
              example-1:
                value:
                  id: -36096015.86504509
      operationId: find-contact
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/aircall/contacts/list:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        directLink:
                          type:
                          - string
                          - 'null'
                        firstName:
                          type:
                          - string
                          - 'null'
                        lastName:
                          type:
                          - string
                          - 'null'
                        companyName:
                          type:
                          - string
                          - 'null'
                        information:
                          type:
                          - string
                          - 'null'
                        isShared:
                          type:
                          - boolean
                          - 'null'
                        createdAt:
                          type: number
                        updatedAt:
                          type: number
                        emails:
                          anyOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                label:
                                  type:
                                  - string
                                  - 'null'
                                value:
                                  type: string
                              required:
                              - id
                              - label
                              - value
                          - type: 'null'
                        phoneNumbers:
                          anyOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: number
                                label:
                                  type:
                                  - string
                                  - 'null'
                                value:
                                  type: string
                              required:
                              - id
                              - label
                              - value
                          - type: 'null'
                      required:
                      - id
                      - direct_link
                      - first_name
                      - last_name
                      - company_name
                      - information
                      - is_shared
                      - created_at
                      - updated_at
                      - emails
                      - phone_numbers
                  meta:
                    type: object
                    properties:
                      count:
                        type:
                        - number
                        - 'null'
                      total:
                        type:
                        - number
                        - 'null'
                      currentPage:
                        type:
                        - number
                        - 'null'
                      perPage:
                        type:
                        - number
                        - 'null'
                      nextPageLink:
                        anyOf:
                        - type: string
                        - type: 'null'
                      previousPageLink:
                        anyOf:
                        - type: string
                        - type: 'null'
                    required:
                    - count
                    - total
                    - current_page
                    - per_page
                    - next_page_link
                    - previous_page_link
              examples:
                example-1:
                  value:
                    contacts:
                    - id: 57434312.2139124
                      information: null
                      emails:
                      - id: -30375498.88328086
                        label: null
                        value: proident in occaecat quis cillum
                        cupidatat__: false
                        Ut6b4: est laboris
                        irure__: est mollit
                        dolor_28: veniam exercitation Excepteur
                      companyName: Ut eiusmod pariatur dolore
                      isShared: true
                      phoneNumbers:
                      - id: 27001835.037813306
                        label: Excepteur ea cillum amet mollit
                        value: id ipsum sit est anim
                      updatedAt: 41043219.67213011
                      firstName: null
                      directLink: aliqua
                      lastName: null
                      createdAt: 29886562.004416466
                    meta:
                      count: 79154511.47519681
                      total: null
                      nextPageLink: velit dolor commodo
                      previousPageLink: nisi aliqua
                      perPage: null
                      currentPage: null
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                perPage:
                  type: number
                nextPageLink:
                  type: string
            examples:
              example-1:
                value:
                  from: ad
                  perPage: -7016389.1691586375
                  nextPageLink: sed adipisicing ad culpa
      operationId: list-contacts
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/aircall/contacts/update:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      id:
                        type: number
                      directLink:
                        type:
                        - string
                        - 'null'
                      firstName:
                        type:
                        - string
                        - 'null'
                      lastName:
                        type:
                        - string
                        - 'null'
                      companyName:
                        type:
                        - string
                        - 'null'
                      information:
                        type:
                        - string
                        - 'null'
                      isShared:
                        type:
                        - boolean
                        - 'null'
                      createdAt:
                        type: number
                      updatedAt:
                        type: number
                      emails:
                        anyOf:
                        - type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              label:
                                type:
                                - string
                                - 'null'
                              value:
                                type: string
                            required:
                            - id
                            - label
                            - value
                        - type: 'null'
                      phoneNumbers:
                        anyOf:
                        - type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              label:
                                type:
                                - string
                                - 'null'
                              value:
                                type: string
                            required:
                            - id
                            - label
                            - value
                        - type: 'null'
                    required:
                    - id
                    - direct_link
                    - first_name
                    - last_name
                    - company_name
                    - information
                    - is_shared
                    - created_at
                    - updated_at
                    - emails
                    - phone_numbers
              examples:
                example-1:
                  value:
                    contact:
                      id: -89158428.57605143
                      information: id
                      emails: null
                      createdAt: -74604828.86311862
                      updatedAt: 99775715.99888128
                      directLink: ad
                      companyName: magna dolor
                      isShared: null
                      phoneNumbers:
                      - id: -20111456.690393314
                        label: null
                        value: Excepteur Ut nisi
                      firstName: null
                      lastName: null
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type:
                  - number
                  - string
                firstName:
                  type: string
                lastName:
                  type: string
                companyName:
                  type: string
                information:
                  type: string
            examples:
              example-1:
                value:
                  id: -57164264.11440763
                  firstName: proident
                  lastName: anim
                  companyName: exercitation
                  information: et
      operationId: update-contact
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/aircall/calls/find:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  call:
                    type: object
                    properties:
                      id:
                        type: number
                      directLink:
                        type:
                        - string
                        - 'null'
                      direction:
                        anyOf:
                        - type: string
                          enum:
                          - inbound
                          - outbound
                        - type: 'null'
                      status:
                        type:
                        - string
                        - 'null'
                      startedAt:
                        type: number
                      answeredAt:
                        type: number
                      endedAt:
                        type: number
                      duration:
                        type:
                        - number
                        - 'null'
                      voicemail:
                        type:
                        - string
                        - 'null'
                      recording:
                        type:
                        - string
                        - 'null'
                      rawDigits:
                        type: string
                      user:
                        type: object
                        properties:
                          id:
                            type: number
                          directLink:
                            type:
                            - string
                            - 'null'
                          name:
                            type: string
                          email:
                            type:
                            - string
                            - 'null'
                          available:
                            type:
                            - boolean
                            - 'null'
                          availabilityStatus:
                            type:
                            - string
                            - 'null'
                          timeZone:
                            type:
                            - string
                            - 'null'
                          language:
                            type:
                            - string
                            - 'null'
                          wrapUpTime:
                            type:
                            - number
                            - 'null'
                          createdAt:
                            type: string
                            format: date-time
                        required:
                        - id
                        - direct_link
                        - name
                        - email
                        - available
                        - availability_status
                        - time_zone
                        - language
                        - wrap_up_time
                        - created_at
                      contact:
                        anyOf:
                        - type: object
                          properties:
                            id:
                              type: number
                            directLink:
                              type:
                              - string
                              - 'null'
                            firstName:
                              type:
                              - string
                              - 'null'
                            lastName:
                              type:
                              - string
                              - 'null'
                            companyName:
                              type:
                              - string
                              - 'null'
                            information:
                              type:
                              - string
                              - 'null'
                            isShared:
                              type:
                              - boolean
                              - 'null'
                            createdAt:
                              type: number
                            updatedAt:
                              type: number
                            emails:
                              anyOf:
                              - type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    label:
                                      type:
                                      - string
                                      - 'null'
                                    value:
                                      type: string
                                  required:
                                  - id
                                  - label
                                  - value
                              - type: 'null'
                            phoneNumbers:
                              anyOf:
                              - type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: number
                                    label:
                                      type:
                                      - string
                                      - 'null'
                                    value:
                                      type: string
                                  required:
                                  - id
                                  - label
                                  - value
                              - type: 'null'
                          required:
                          - id
                          - direct_link
                          - first_name
                          - last_name
                          - company_name
                          - information
                          - is_shared
                          - created_at
                          - updated_at
                          - emails
                          - phone_numbers
                        - type: 'null'
                      number:
                        type: object
                        properties:
                          id:
                            type: number
                          name:
                            type:
                            - string
                            - 'null'
                          digits:
                            type:
                            - string
                            - 'null'
                          createdAt:
                            type: string
                            format: date-time
                        required:
                        - id
                        - name
                        - digits
                        - created_at
                      participants:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: number
                            type:
                              type: string
                              enum:
                              - user
                              - contact
                              - external
                            name:
                              type:
                              - string
                              - 'null'
                            phoneNumber:
                              type:
                              - string
                              - 'null'
                          required:
                          - id
                          - type
                          - name
                          - phone_number
                    required:
                    - id
                    - direct_link
                    - direction
                    - status
                    - started_at
                    - answered_at
                    - ended_at
                    - duration
                    - voicemail
                    - recording
                    - raw_digits
                    - user
                    - contact
                    - number
              examples:
                example-1:
                  value:
                    call:
                      id: 76973404.07882455
                      direction: outbound
                      status: null
                      duration: 51302934.868718445
                      voicemail: null
                      recording: null
                      user:
                        id: 74099454.77302057
                        name: officia in Ut Lorem
                        email: dolor aliquip
                        available: true
                        language: null
                        wrapUpTime: 23688321.605538264
                        timeZone: null
                        directLink: null
                        availabilityStatus: null
                        createdAt: '1964-01-30T09:26:09.0Z'
                      contact: null
                      number:
                        id: -16598077.18119803
                        name: voluptate Ut
                        digits: null
                        createdAt: '1971-01-18T18:59:09.0Z'
                      participants:
                      - id: 91322388.92238086
                        type: user
                        name: null
                        phoneNumber: null
                      rawDigits: labore nostrud voluptate Excepteur aliqua
                      directLink: null
                      endedAt: 77737922.9855662
                      answeredAt: -52119061.94518017
                      startedAt: -85399918.58678864
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type:
                  - number
                  - string
            examples:
              example-1:
                value:
                  id: 94701425.10324454
      operationId: find-call
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/aircall/calls/list:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  calls:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                        directLink:
                          type:
                          - string
                          - 'null'
                        direction:
                          anyOf:
                          - type: string
                            enum:
                            - inbound
                            - outbound
                          - type: 'null'
                        status:
                          type:
                          - string
                          - 'null'
                        startedAt:
                          type: number
                        answeredAt:
                          type: number
                        endedAt:
                          type: number
                        duration:
                          type:
                          - number
                          - 'null'
                        voicemail:
                          type:
                          - string
                          - 'null'
                        recording:
                          type:
                          - string
                          - 'null'
                        rawDigits:
                          type: string
                        user:
                          type: object
                          properties:
                            id:
                              type: number
                            directLink:
                              type:
                              - string
                              - 'null'
                            name:
                              type: string
                            email:
                              type:
                              - string
                              - 'null'
                            available:
                              type:
                              - boolean
                              - 'null'
                            availabilityStatus:
                              type:
                              - string
                              - 'null'
                            timeZone:
                              type:
                              - string
                              - 'null'
                            language:
                              type:
                              - string
                              - 'null'
                            wrapUpTime:
                              type:
                              - number
                              - 'null'
                            createdAt:
                              type: string
                              format: date-time
                          required:
                          - id
                          - direct_link
                          - name
                          - email
                          - available
                          - availability_status
                          - time_zone
                          - language
                          - wrap_up_time
                          - created_at
                        contact:
                          anyOf:
                          - type: object
                            properties:
                              id:
                                type: number
                              directLink:
                                type:
                                - string
                                - 'null'
                              firstName:
                                type:
                                - string
                                - 'null'
                              lastName:
                                type:
                                - string
                                - 'null'
                              companyName:
                                type:
                                - string
                                - 'null'
                              information:
                                type:
                                - string
                                - 'null'
                              isShared:
                                type:
                                - boolean
                                - 'null'
                              createdAt:
                                type: number
                              updatedAt:
                                type: number
                              emails:
                                anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      label:
                                        type:
                                        - string
                                        - 'null'
                                      value:
                                        type: string
                                    required:
                                    - id
                                    - label
                                    - value
                                - type: 'null'
                              phoneNumbers:
                                anyOf:
                                - type: array
                                  items:
                                    type: object
                                    properties:
                                      id:
                                        type: number
                                      label:
                                        type:
                                        - string
                                        - 'null'
                                      value:
                                        type: string
                                    required:
                                    - id
                                    - label
                                    - value
                                - type: 'null'
                            required:
                            - id
                            - direct_link
                            - first_name
                            - last_name
                            - company_name
                            - information
                            - is_shared
                            - created_at
                            - updated_at
                            - emails
                            - phone_numbers
                          - type: 'null'
                        number:
                          type: object
                          properties:
                            id:
                              type: number
                            name:
                              type:
                              - string
                              - 'null'
                            digits:
                              type:
                              - string
                              - 'null'
                            createdAt:
                              type: string
                              format: date-time
                          required:
                          - id
                          - name
                          - digits
                          - created_at
                        participants:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: number
                              type:
                                type: string
                                enum:
                                - user
                                - contact
                                - external
                              name:
                                type:
                                - string
                                - 'null'
                              phoneNumber:
                                type:
                                - string
                                - 'null'
                            required:
                            - id
                            - type
                            - name
                            - phone_number
                      required:
                      - id
                      - direct_link
                      - direction
                      - status
                      - started_at
                      - answered_at
                      - ended_at
                      - duration
                      - voicemail
                      - recording
                      - raw_digits
                      - user
                      - contact
                      - number
                  meta:
                    type: object
                    properties:
                      count:
                        type:
                        - number
                        - 'null'
                      total:
                        type:
                        - number
                        - 'null'
                      currentPage:
                        type:
                        - number
                        - 'null'
                      perPage:
                        type:
                        - number
                        - 'null'
                      nextPageLink:
                        anyOf:
                        - type: string
                        - type: 'null'
                      previousPageLink:
                        anyOf:
                        - type: string
                        - type: 'null'
                    required:
                    - count
                    - total
                    - current_page
                    - per_page
                    - next_page_link
                    - previous_page_link
              examples:
                example-1:
                  value:
                    calls:
                    - id: -75376073.69676214
                      direction: null
                      status: null
                      duration: -57347375.44697053
                      voicemail: nostrud
                      recording: do reprehenderit
                      user:
                        id: 18089884.18484439
                        name: mollit esse
                        email: pariatur
                        available: false
                        language: eiusmod amet dolor consectetur
                        createdAt: '1982-02-25T05:02:38.0Z'
                        wrapUpTime: null
                        availabilityStatus: occaecat nisi proident
                        timeZone: fugiat mollit pariatur non
                        directLink: null
                      contact:
                        id: -80586999.36226827
                        information: null
                        emails:
                        - id: 58053087.984629005
                          label: sed
                          value: nulla Lorem
                        firstName: null
                        directLink: aute eiusmod
                        companyName: dolore nulla
                        phoneNumbers: null
                        lastName: nostrud Ut incididunt amet quis
                        createdAt: -41802029.006895445
                        updatedAt: -66405885.980554745
                        isShared: false
                      number:
                        id: 50178920.37031323
                        name: ad
                        digits: quis anim labore Ut
                        createdAt: '1979-12-09T15:58:42.0Z'
                      rawDigits: Lorem aliqua nulla ullamco
                      directLink: null
                      participants:
                      - id: 48614791.61519435
                        type: external
                        name: null
                        phoneNumber: null
                      answeredAt: 80830968.84168652
                      endedAt: -37500350.467588015
                      startedAt: -24821882.62971157
                    meta:
                      count: null
                      total: null
                      perPage: -21536160.552566707
                      currentPage: null
                      nextPageLink: null
                      previousPageLink: null
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                from:
                  type: string
                perPage:
                  type: number
                nextPageLink:
                  type: string
            examples:
              example-1:
                value:
                  from: ut esse
                  perPage: 48568655.0099569
                  nextPageLink: ex mollit Ut
      operationId: list-calls
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/apollo/accounts/create:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type:
                        - string
                        - 'null'
                      websiteUrl:
                        type:
                        - string
                        - 'null'
                      estimatedNumEmployees:
                        type:
                        - number
                        - 'null'
                      industry:
                        type:
                        - string
                        - 'null'
                      organizationRawAddress:
                        type:
                        - string
                        - 'null'
                      organizationCity:
                        type:
                        - string
                        - 'null'
                      organizationStreetAddress:
                        type:
                        - string
                        - 'null'
                      organizationState:
                        type:
                        - string
                        - 'null'
                      organizationCountry:
                        type:
                        - string
                        - 'null'
                      organizationPostalCode:
                        type:
                        - string
                        - 'null'
                      domain:
                        type:
                        - string
                        - 'null'
                      ownerId:
                        type:
                        - string
                        - 'null'
                      lastActivityDate:
                        anyOf:
                        - type: string
                          format: date-time
                        - type: 'null'
                      sanitizedPhone:
                        type:
                        - string
                        - 'null'
                      typedCustomFields:
                        type: object
                        properties: {}
                      createdAt:
                        type: string
                        format: date-time
                    required:
                    - id
                    - created_at
              examples:
                example-1:
                  value:
                    account:
                      id: in deserunt Ut reprehenderit
                      estimatedNumEmployees: null
                      websiteUrl: fugiat sed nostrud sit incididunt
                      organizationPostalCode: null
                      createdAt: '1968-11-11T09:51:40.0Z'
                      organizationState: veniam sit
                      lastActivityDate: null
                      industry: null
                      name: null
                      organizationStreetAddress: null
                      ownerId: null
                      organizationCity: tempor laboris cillum
                      organizationRawAddress: voluptate sed ullamco exercitation
                      organizationCountry: null
                      sanitizedPhone: null
                      domain: nulla quis cupidatat eiusmod
                      typedCustomFields: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type:
                  - string
                  - 'null'
                domain:
                  type:
                  - string
                  - 'null'
                phone:
                  type:
                  - string
                  - 'null'
            examples:
              example-1:
                value:
                  name: fugiat eiusmod est
                  domain: minim pariatur
                  phone: null
      operationId: create-account
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/apollo/accounts/search:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type:
                          - string
                          - 'null'
                        websiteUrl:
                          type:
                          - string
                          - 'null'
                        estimatedNumEmployees:
                          type:
                          - number
                          - 'null'
                        industry:
                          type:
                          - string
                          - 'null'
                        organizationRawAddress:
                          type:
                          - string
                          - 'null'
                        organizationCity:
                          type:
                          - string
                          - 'null'
                        organizationStreetAddress:
                          type:
                          - string
                          - 'null'
                        organizationState:
                          type:
                          - string
                          - 'null'
                        organizationCountry:
                          type:
                          - string
                          - 'null'
                        organizationPostalCode:
                          type:
                          - string
                          - 'null'
                        domain:
                          type:
                          - string
                          - 'null'
                        ownerId:
                          type:
                          - string
                          - 'null'
                        lastActivityDate:
                          anyOf:
                          - type: string
                            format: date-time
                          - type: 'null'
                        sanitizedPhone:
                          type:
                          - string
                          - 'null'
                        typedCustomFields:
                          type: object
                          properties: {}
                        createdAt:
                          type: string
                          format: date-time
                      required:
                      - id
                      - created_at
                  pagination:
                    type: object
                    properties:
                      page:
                        type:
                        - number
                        - 'null'
                      perPage:
                        type: number
                      totalEntries:
                        type: number
                      totalPages:
                        type: number
                    required:
                    - page
                    - per_page
                    - total_entries
                    - total_pages
              examples:
                example-1:
                  value:
                    accounts:
                    - id: ex
                      organizationPostalCode: null
                      websiteUrl: Lorem in cillum commodo
                      name: null
                      ownerId: null
                      organizationRawAddress: null
                      sanitizedPhone: laborum magna ipsum
                      organizationState: null
                      domain: sint irure cillum et sunt
                      organizationCity: Duis culpa nisi non tempor
                      organizationStreetAddress: null
                      lastActivityDate: null
                      createdAt: '1998-02-13T02:51:42.0Z'
                      organizationCountry: occaecat cillum laboris voluptate
                      estimatedNumEmployees: 67370679.50048807
                      industry: laboris occaecat elit eiusmod
                      typedCustomFields: {}
                    pagination:
                      page: null
                      totalEntries: -94639301.4333235
                      totalPages: 17734680.960502043
                      perPage: 92941126.84197268
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                qOrganizationName:
                  type: string
                page:
                  type: number
            examples:
              example-1:
                value:
                  qOrganizationName: aliqua
                  page: 70115309.38806385
      operationId: search-account
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/apollo/accounts/update:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type:
                        - string
                        - 'null'
                      websiteUrl:
                        type:
                        - string
                        - 'null'
                      estimatedNumEmployees:
                        type:
                        - number
                        - 'null'
                      industry:
                        type:
                        - string
                        - 'null'
                      organizationRawAddress:
                        type:
                        - string
                        - 'null'
                      organizationCity:
                        type:
                        - string
                        - 'null'
                      organizationStreetAddress:
                        type:
                        - string
                        - 'null'
                      organizationState:
                        type:
                        - string
                        - 'null'
                      organizationCountry:
                        type:
                        - string
                        - 'null'
                      organizationPostalCode:
                        type:
                        - string
                        - 'null'
                      domain:
                        type:
                        - string
                        - 'null'
                      ownerId:
                        type:
                        - string
                        - 'null'
                      lastActivityDate:
                        anyOf:
                        - type: string
                          format: date-time
                        - type: 'null'
                      sanitizedPhone:
                        type:
                        - string
                        - 'null'
                      typedCustomFields:
                        type: object
                        properties: {}
                      createdAt:
                        type: string
                        format: date-time
                    required:
                    - id
                    - created_at
              examples:
                example-1:
                  value:
                    account:
                      id: ut quis
                      organizationPostalCode: null
                      organizationRawAddress: null
                      websiteUrl: ex id Lorem Excepteur elit
                      industry: null
                      sanitizedPhone: null
                      organizationState: Ut et
                      organizationStreetAddress: null
                      createdAt: '1973-11-02T14:42:50.0Z'
                      organizationCity: null
                      lastActivityDate: '1987-10-26T21:47:10.0Z'
                      name: null
                      organizationCountry: null
                      domain: eiusmod aliqua adipisicing amet
                      estimatedNumEmployees: 4961864.883238703
                      ownerId: fugiat aliquip laboris dolor
                      typedCustomFields: {}
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                name:
                  type:
                  - string
                  - 'null'
                domain:
                  type:
                  - string
                  - 'null'
                phone:
                  type:
                  - string
                  - 'null'
            examples:
              example-1:
                value:
                  id: Duis sint laboris proident
                  name: nisi magna in Excepteur
                  domain: null
                  phone: commodo ex Excepteur ut
      operationId: update-account
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/apollo/activities/list:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  activities:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        emailerMessageId:
                          type: string
                        emailerMessage:
                          type: object
                          properties:
                            id:
                              type: string
                            bodyText:
                              type:
                              - string
                              - 'null'
                            bodyHtml:
                              type:
                              - string
                              - 'null'
                            bounce:
                              type:
                              - boolean
                              - 'null'
                            completedAt:
                              anyOf:
                              - type: string
                                format: date-time
                              - type: 'null'
                            contactId:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                            emailerCampaignId:
                              type:
                              - string
                              - 'null'
                            fromEmail:
                              type: string
                            fromName:
                              type:
                              - string
                              - 'null'
                            numClicks:
                              type:
                              - number
                              - 'null'
                            numOpens:
                              type:
                              - number
                              - 'null'
                            replied:
                              type:
                              - boolean
                              - 'null'
                            status:
                              type:
                              - string
                              - 'null'
                            subject:
                              type:
                              - string
                              - 'null'
                            userId:
                              type: string
                          required:
                          - id
                          - contact_id
                          - created_at
                          - from_email
                          - user_id
                      required:
                      - id
                      - type
                      - emailer_message_id
                      - emailer_message
              examples:
                example-1:
                  value:
                    activities:
                    - id: incididunt quis ad cillum sunt
                      type: mollit laborum dolore culpa Excepteur
                      emailerMessage:
                        id: dolor ea consequat
                        numOpens: 42325172.37951955
                        userId: dolore dolor non anim
                        bodyText: null
                        createdAt: '2014-10-25T01:10:35.0Z'
                        subject: esse
                        numClicks: null
                        replied: null
                        contactId: adipisicing labore Lorem veniam
                        fromEmail: dolor reprehenderit labore ut
                        fromName: ex aliquip
                        emailerCampaignId: null
                        completedAt: null
                        status: null
                        bounce: null
                        bodyHtml: null
                      emailerMessageId: eu in esse enim
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contactId:
                  type: string
                types:
                  type: array
                  items:
                    type: string
            examples:
              example-1:
                value:
                  contactId: dolor irure Duis quis
                  types:
                  - dolore adipisicing nulla sit
      operationId: list-activities
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/apollo/contacts/create:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contact:
                    type: object
                    properties:
                      id:
                        type: string
                      firstName:
                        type:
                        - string
                        - 'null'
                      lastName:
                        type:
                        - string
                        - 'null'
                      name:
                        type:
                        - string
                        - 'null'
                      title:
                        type:
                        - string
                        - 'null'
                      ownerId:
                        type:
                        - string
                        - 'null'
                      presentRawAddress:
                        type:
                        - string
                        - 'null'
                      phoneNumbers:
                        type: array
                        items:
                          type: object
                          properties:
                            rawNumber:
                              type: string
                            sanitizedNumber:
                              type:
                              - string
                              - 'null'
                            type:
                              type: string
                              enum:
                              - mobile
                              - home
                              - work_hq
                              - work_direct
                              - other
                            position:
                              type: number
                            status:
                              type:
                              - string
                              - 'null'
                            dncStatus:
                              type:
                              - string
                              - 'null'
                          required:
                          - raw_number
                          - type
                          - position
                      organizationName:
                        type:
                        - string
                        - 'null'
                      email:
                        type:
                        - string
                        - 'null'
                      websiteUrl:
                        type:
                        - string
                        - 'null'
                      contactStageId:
                        type:
                        - string
                        - 'null'
                      accountId:
                        type:
                        - string
                        - 'null'
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      linkedinUrl:
                        type:
                        - string
                        - 'null'
                      typedCustomFields:
                        type: object
                        properties: {}
                    required:
                    - id
                    - phone_numbers
                    - created_at
                    - updated_at
                    - typed_custom_fields
              examples:
                example-1:
                  value:
                    contact:
                      id: aliquip ea eu Ut
                      websiteUrl: exercitation in sit culpa occaecat
                      presentRawAddress: incididunt reprehenderit est qui dolore
                      phoneNumbers:
                      - type: work_hq
                        position: 47457977.40565795
                        sanitizedNumber: cupidatat eu
                        status: null
                        rawNumber: culpa in velit adipisicing sint
                        dncStatus: nisi Excepteur Lorem
                      name: elit deserunt ut
                      linkedinUrl: null
                      accountId: null
                      typedCustomFields: {}
                      organizationName: non adipisicing ipsum ut Excepteur
                      lastName: null
                      contactStageId: Ut fugiat
                      title: cillum Excepteur irure
                      firstName: do non Lorem amet veniam
                      email: mollit nostrud do
                      ownerId: adipisicing quis
                      createdAt: '1994-03-12T21:38:45.0Z'
                      updatedAt: '1946-09-21T20:11:15.0Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type:
                  - string
                  - 'null'
                lastName:
                  type:
                  - string
                  - 'null'
                organizationName:
                  type:
                  - string
                  - 'null'
                title:
                  type:
                  - string
                  - 'null'
                ownerId:
                  type:
                  - string
                  - 'null'
                accountId:
                  type:
                  - string
                  - 'null'
                email:
                  type:
                  - string
                  - 'null'
                websiteUrl:
                  type:
                  - string
                  - 'null'
                contactStageId:
                  type:
                  - string
                  - 'null'
                presentRawAddress:
                  type:
                  - string
                  - 'null'
                labelNames:
                  anyOf:
                  - type: array
                    items:
                      type: string
                  - type: 'null'
            examples:
              example-1:
                value:
                  firstName: consequat in
                  lastName: null
                  organizationName: null
                  title: null
                  ownerId: null
                  accountId: laboris proident
                  email: in cillum laboris reprehenderit sed
                  websiteUrl: deserunt
                  contactStageId: null
                  presentRawAddress: ipsum ex
                  labelNames: null
      operationId: create-contact
      parameters:
      - name: x-vessel-access-token
        in: header
        description: Access Token
        required: true
        schema:
          type: string
      tags:
      - Actions
    servers:
    - url: https://api.vessel.dev
  /api/actions/apollo/contacts/search:
    parameters: []
    post:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  contacts:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        firstName:
                          type:
                          - string
                          - 'null'
                        lastName:
                          type:
                          - string
                          - 'null'
                        name:
                          type:
                          - string
                          - 'null'
                        title:
                          type:
                          - string
                          - 'null'
                        ownerId:
                          type:
                          - string
                          - 'null'
                        presentRawAddress:
                          type:
                          - string
                          - 'null'
                        phoneNumbers:
                          type: array
                          items:
                            type: object
                            properties:
                              rawNumber:
                                type: string
                              sanitizedNumber:
                                type:
                                - string
                                - 'null'
                              type:
                                type: string
                                enum:
                                - mobile
                                - home
                                - work_hq
                                - work_direct
                                - other
                              position:
                                type: number
                              status:
                                type:
[...]
